# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
rag_app_env/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/

# Logs
logs/*

*.log

# OS files
.DS_Store
Thumbs.db

# Test files temporarily ignored
tests/*
scripts/*

# Test data temporarily ignored
data/*
storage/*
storage/uploads/*
!storage/uploads/.gitkeep